<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/adminsignup.css">
    <title>관리자 회원 가입</title>

</head>

<body>
    <div class="form-container">
        <h1>관리자 회원 가입</h1>
        <form id="admin-signup-form" action="process_signup.php" method="POST">
            <label for="name">이름:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">이메일:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">비밀번호:</label>
            <input type="password" id="password" name="password" required>

            <label for="confirm-password">비밀번호 확인:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>

            <input type="submit" value="가입">
        </form>
    </div>
</body>

</html>