<!DOCTYPE html>
<html>

<head>
    <title>관리자 페이지</title>
    <!-- 메타 태그를 사용하여 화면 크기 설정 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/adminpage.css">
</head>

<body>
    <!-- 헤더 -->
    <header>
        <h1>관리자 페이지</h1>
        <div id="login-section">
            <a href="/adminlogin"><button id="login-button">로그인</button></a>
            <button id="logout-button" style="display: none;">로그아웃</button>
        </div>
    </header>


    <!-- 사이드바 메뉴 -->
    <aside>
        <ul>
            <li><a href="/shopinfo">가맹점 가입자</a></li>
            <li><a href="/userinfo">일반 가입자</a></li>
        </ul>
    </aside>

    <!-- 콘텐츠 영역 -->
    <main>
        <div id="content">
            <!-- 여기에 선택된 항목에 대한 정보를 표시할 내용 추가 -->
        </div>
    </main>

    <!-- 푸터 -->
    <footer>
        <p>TOGETEAT</p>
        <nav>
            <a href="/이용약관">이용약관</a>
            <a href="#">개인정보방침</a>
            <a href="/소개">소개</a>
            <a href="#">음식점소개</a>
            <a href="#">공지사항</a>
        </nav>
        <p></p>
    </footer>

    <!-- JavaScript를 통해 로그인, 로그아웃, 회원 가입 버튼 기능 구현 -->
    <script>

 

        const loginButton = document.getElementById('login-button');
        const logoutButton = document.getElementById('logout-button');
        const signupButton = document.getElementById('signup-button');
        const contentDiv = document.getElementById('content');

        // 초기에는 로그인 버튼과 회원 가입 버튼만 보이도록 설정
        loginButton.style.display = 'block';
        logoutButton.style.display = 'none';

        signupButton.style.display = 'block';

    

        // 로그인 버튼 클릭 시
        loginButton.addEventListener('click', () => {
            // 로그인 기능 구현
            loginButton.style.display = 'none';
            logoutButton.style.display = 'block';
            signupButton.style.display = 'none';
        });

        // 로그아웃 버튼 클릭 시
        logoutButton.addEventListener('click', () => {
            // 로그아웃 기능 구현
            logoutButton.style.display = 'none';
            loginButton.style.display = 'block';
            signupButton.style.display = 'block';
        });

        // 회원 가입 버튼 클릭 시
        signupButton.addEventListener('click', () => {
            // 회원 가입 기능 구현
            // 여기에 회원 가입 처리를 추가하세요.
        });

    </script>
</body>

</html>