<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/event.css">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/"><strong class="text-dark">배달 주문 사이트</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <!-- 드롭다운 토글 버튼 -->
                        <a class="nav-link text-dark dropdown-toggle" href="#" id="noticeDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <strong>공지사항</strong>
                        </a>
                        <!-- 드롭다운 메뉴 -->
                        <ul class="dropdown-menu" aria-labelledby="noticeDropdown">
                            <!-- 공지사항 하위 메뉴 -->
                            <li><a class="dropdown-item" href="/event">이벤트</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <!-- 드롭다운 토글 버튼 -->
                        <a class="nav-link text-dark dropdown-toggle" href="#" id="categoryDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <strong>카테고리</strong>
                    </a>
                    <!-- 드롭다운 메뉴 -->
                    <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
                        <!-- 카테고리 하위 메뉴 -->
                        <li><a class="dropdown-item" href="/map">지도</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <!-- 드롭다운 토글 버튼 -->
                        <a class="nav-link text-dark dropdown-toggle" href="#" id="guideDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <strong>이용가이드</strong>
                        </a>
                        <!-- 드롭다운 메뉴 -->
                        <ul class="dropdown-menu" aria-labelledby="guideDropdown">
                            <!-- 이용가이드 하위 메뉴 -->
                            <li><a class="dropdown-item" href="/guide">도움말</a></li>
                            <li><a class="dropdown-item" href="/boardL">문의하기</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 class="text-center">이벤트</h1>

    <!-- 3x4 그리드 추가 -->
    <div class="container">
        <div class="row">
            <div class="col-md-4"><!--1-->
                <img src="그림2/71136_88300_1556.jpg" class="img-fluid" alt="..." style="width: 600px; height: 400px;">
            </div>
            <div class="col-md-4"><!--2-->
                <img src="그림2/99042E355C08B26B2A.jpeg" class="img-fluid" alt="..."
                    style="width: 600px; height: 400px; margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-md-4"><!--3-->
                <img src="그림2/images.jpeg" class="img-fluid" alt="..."
                    style="width: 600px; height: 400px; margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-md-4"><!--4-->
                <img src="그림2/OIP.jpeg" class="img-fluid" alt="..."
                    style="width: 600px; height: 400px; margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-md-4"><!--5-->
                <img src="그림2/R.png" class="img-fluid" alt="..."
                    style="width: 600px; height: 400px; margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-md-4"><!--6-->
                <img src="그림2/1da770ec1ba9669256d41c4fab8f89e1.jpg" class="img-fluid" alt="..."
                    style="width: 600px; height: 400px; margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-md-4"><!--7-->
                <img src="그림2/모두.jpg" class="img-fluid" alt="..."
                    style="width: 600px; height: 400px; margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-md-4"><!--8-->
                <img src="그림2/다운로드.jpeg" class="img-fluid" alt="..."
                    style="width: 600px; height: 400px;margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-md-4"><!--9-->
                <img src="그림2/0SXuZEtbGD.jpeg" class="img-fluid" alt="..."
                    style="width: 600px; height: 400px; margin-top: 20px; margin-bottom: 20px;">
            </div>

        </div>
    </div>

        <footer>
            <p>TOGETEAT</p>
            <nav>
                <a href="/이용약관">이용약관</a>
                <a href="#">개인정보방침</a>
                <a href="/소개">소개</a>
                <a href="#">음식점소개</a>
                <a href="#">공지사항</a>
            </nav>
            <p></p>
        </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>