<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/event.css">
    <title>Document</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
   <nav>
        <%- include('header.ejs') %>
    </nav> 
   
    <h1 class="text-center">이벤트</h1>

    <!-- 3x4 그리드 추가 -->
    <div class="container">
        <div class="row">
            <div class="col-md-4"><!--1-->
                <img src="그림2/71136_88300_1556.jpg" class="img-fluid" alt="..." style="width: 600px; height: 400px;">
            </div>
            <div class="col-md-4"><!--2-->
                <img src="그림2/99042E355C08B26B2A.jpeg" class="img-fluid" alt="..."
                    style="width: 600px; height: 400px; margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-md-4"><!--3-->
                <img src="그림2/images.jpeg" class="img-fluid" alt="..."
                    style="width: 600px; height: 400px; margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-md-4"><!--4-->
                <img src="그림2/OIP.jpeg" class="img-fluid" alt="..."
                    style="width: 600px; height: 400px; margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-md-4"><!--5-->
                <img src="그림2/R.png" class="img-fluid" alt="..."
                    style="width: 600px; height: 400px; margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-md-4"><!--6-->
                <img src="그림2/1da770ec1ba9669256d41c4fab8f89e1.jpg" class="img-fluid" alt="..."
                    style="width: 600px; height: 400px; margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-md-4"><!--7-->
                <img src="그림2/모두.jpg" class="img-fluid" alt="..."
                    style="width: 600px; height: 400px; margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-md-4"><!--8-->
                <img src="그림2/다운로드.jpeg" class="img-fluid" alt="..."
                    style="width: 600px; height: 400px;margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-md-4"><!--9-->
                <img src="그림2/0SXuZEtbGD.jpeg" class="img-fluid" alt="..."
                    style="width: 600px; height: 400px; margin-top: 20px; margin-bottom: 20px;">
            </div>

        </div>
    </div>

        <footer>
            <p>TOGETEAT</p>
            <nav>
                <a href="/이용약관">이용약관</a>
                <a href="#">개인정보방침</a>
                <a href="/소개">소개</a>
                <a href="#">음식점소개</a>
                <a href="#">공지사항</a>
            </nav>
            <p></p>
        </footer>


  

        
</body>

</html>