<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .centered-text {
            text-align: center;
            font-size: 20px;
            /* 텍스트 크기를 20px로 설정 */
            font-weight: bold;
            /* 글꼴을 굵게 설정 */
        }

        .text {
            font-size: 20px;
            /* 원하는 크기로 조절하세요 */
        }
    </style>
    <title>Document</title>
</head>

<body>
    <p class="centered-text">서비스 이용약관 이전 이용약관 보기 </p><br><br>

    시행일자: 2018년 9월 28일<br><br>
    <p class="text">제1조 (목적)<br>
        본 약관은 요기요를 운영하는 유한회사 알지피코리아(이하 "회사")가 음식점 사장님(이하 "사장님")에게 요기요 플랫폼을 통하여 제공하는 주문 및 결제 대행서비스, 기타 관련 서비스를 이용함에 있어
        필요한
        권리, 의무 및 책임 등의 제반 사항을 규정함을 목적으로 합니다.<br>
        <br><br>제2조 (용어의 정의)<br><br>
        ①"고객"이라 함은 "요기요 서비스"를 이용하여 "사장님"의 상품을 구매하는 자를 의미합니다.<br><br>
        ②"요기요 서비스"라 함은 "회사"가 운영하는 요기요 플랫폼 및 여러 기반의 매체(계열사 플랫폼 및 제휴/협력 관계의 오픈마켓 등)를 통해<br> "사장님"을 대신하여 "고객"에게 음식의 주문 및 결제
        대행 서비스를제공하는 행위와 이를 위해 "회사"가 "사장님"에게 제공하는 모든 행위를 의미합니다.<br><br>
        ③"요기서 결제"라 함은 "사장님"이 판매하는 상품을 구매함에 있어 상품 수령 전에 요기요 플랫폼 및 기타 여러 기반의 매체상에서 결제하는 행위를 의미하며, "회사"가 제공하는 간편결제 서비스인 요기서
        1초
        결제를 포함하여 "요기서 결제"로 정의합니다.<br><br>
        ④"현장결제"라 함은 "고객"이 "사장님"의 상품을 구매함에 있어 "사장님"으로부터 상품을 수령하는 시점에 직접 결제하는 행위를 의미합니다.<br>
        ⑤"서비스 이용 수수료"라 함은 "요기요 서비스"를 이용하기 위하여 "사장님"이 "회사"에 지불하여야 하는 "사장님"과 "회사"가 합의한 주문 건당 수수료 및 "회사"가 제공하는 정액제 패키지 상품의
        이용료를
        포함한 기타 모든 서비스를 제공하기 위한 수수료를 의미합니다.<br><br>
        ⑥"외부결제수수료"라 함은 "요기서 결제"와 관련하여 발생하는 외부결제 대행 수수료를 의미합니다.<br><br>
        ⑦"요기요 서비스 등록 신청서"라 함은 "요기요 서비스" 및 "요기요 서비스" 이용을 위해 "회사"가 제공하는 단말기의 이용을 신청하기 위해 "사장님" 및 "회사"가 작성하게 되는 문서로서 "요기요
        서비스"<br><br>
        및 단말기 이용 조건에 대한 구체적인 사항이 명시되어 있는 계약서를 의미합니다.<br><br>
        ⑧"사장님 사이트"라 함은 "회사"가 "요기요 서비스"를 제공함에 있어 "사장님"에게 제공하는 사장님 전용 홈페이지 및 어플리케이션을 의미합니다.
        <br><br>제3조 (약관의 개시와 개정)<br><br>
        ①"회사"는 정의된 약관을 "사장님"이 확인할 수 있도록 "사장님 사이트"에 게시합니다. 단, 예외상황이 발생하는 경우 기타 매체를 통해 별도 고지할 수 있습니다.<br><br>
        ②"회사"는 "약관의 규제에 관한 법률", "정보통신망 이용촉진 및 정보보호 등에 관한 법률(이하 "정보통신망법")" 등 관련 법령을 위배하지 않는 범위에서 본 약관을 개정할 수
        있습니다.<br><br>
        ③"회사"는 본 약관을 개정하는 경우, 개정 내용과 적용 일자를 명시하여 "사장님 사이트"를 통하여 개정약관의 적용 일자 7일 전부터 공지하되, 변경 내용이 "사장님"에게 불리하거나 중요한 내용인
        경우에는<br>
        개정약관의 적용 일자 30일 전부터 "사장님 사이트"를 통해 공지합니다.<br><br>
        ④약관의 개정 내용 확인을 위하여 "사장님"은 정기적으로 "회사"가 운영하는 "사장님 사이트"를 방문하여야 합니다. 정상적인 공지가 이루어졌음에도 불구하고, 개정 약관에 대한 정보를 확인하지 못하여
        발생하는<br>
        손해에 대하여는 “회사”가 책임지지 않습니다.<br><br>
        ⑤개정약관에 대한 "사장님"의 동의는 개정약관 공지 시 "회사"가 정하는 방법에 따라 이루어지며, 해당 개정약관에 대하여 동의하지 않는 "사장님"은 "회사"에 해당 의사표시를 함으로써 "요기요 서비스"
        및
        본<br>
        약관 적용을 종료할 수 있습니다.
        <br><br>제4조 (회사의 책임과 의무)<br><br>
        ①"회사"는 상품 및 서비스를 이용함에 있어 주문 및 결제가 가능한 웹사이트 및 스마트 폰 어플리케이션을 운영(개발, 디자인, 컨텐츠 제작, 고객 정보 관리 등)합니다.<br><br>
        ②"회사"는 온라인상에서 "고객"의 주문 및 결제 내역에 대한 정보를 "사장님"에게 제공할 수 있는 전자관리 시스템을 개발하고 유지, 보수합니다.<br><br>
        ③"회사"는 "회사"의 웹사이트 및 스마트 폰 어플리케이션을 통해 "사장님"의 상품 및 서비스를 판매하고 "요기서 결제" 대금에 대해서는 본 약관 및 "요기요 서비스 등록 신청서"에 따라 "사장님"에게
        정산
        및 지불합니다.<br><br>
        ④"회사"는 요기요 서비스 제공과 관련하여 획득한 "사장님"의 정보를 본인의 동의 없이 타인에게 누설 또는 배포할 수 없으며, 서비스 제공의 업무 이외의 목적으로 사용할 수 없습니다.<br> 다만,
        관계
        법령에
        의한
        수사의 목적으로 관계기관으로부터 요구받은 경우 등 법률 규정에 따른 적법한 절차에 의한 경우 또는 방송통신심의위원회의 요청이 있는 경우에는 제외됩니다.<br><br>
        ⑤"회사"는 "사장님"과 "고객" 간의 분쟁이 발생하였을 경우 분쟁해결의 중재를 위해 노력하여야 합니다.<br><br>
        ⑥"회사"는 본 약관의 조항 및 조건, 그리고 그와 관련하여 취득한 "사장님"의 각종 정보, 기술을 상대방의 동의 없이 이용 및 누설하지 말아야 하며, 본 조항의 의무는 본 약관에 의한 거래가 종결된
        후에도
        5년간 그 효력이 유지됩니다.<br> 또한, 본 조항의 의무를 위반하여 "사장님"에게 손해가 발생한 경우 "회사"는 "사장님"에게 손해를 배상하여야 합니다.<br>
        <br><br>제5조 (사장님의 책임과 의무)<br><br>
        ①"사장님"은 본 계약 신청 시 본인의 명의가 아닌 타인의 명의로 신청하여서는 안 되며, 사업자등록증 상 음식점 소재지 관할 기관에서 요구되는 신고/허가(영업신고 등)를 계약 신청 전 정상적으로 득한
        후
        "회사"에 "요기요 서비스"를 신청하여야 합니다.<br> 해당 영업신고 등이 누락된 경우, "회사"는 사장님의 계약 신청을 거절할 수 있으며, 본 조항을 위반하여 발생하는 일련의 문제는 "사장님"이
        책임을
        지게
        됩니다.<br><br>
        ②"사장님"은 본 약관상의 상품을 제공함에 있어 전화주문고객과 "요기서 결제"/"현장결제" 고객에게 배달 조건 및 상품의 품질 등을 다르게 운영하여서는 안 됩니다.<br><br>
        ③"사장님"은 "요기서 결제"/"현장결제"를 이용한 "고객"에게 "사장님"의 음식점과의 직거래를 유도하여서는 안 됩니다.<br><br>
        ④"사장님"은 전업, 폐업 등의 사유로 정상적인 음식점 운영을 계속하기 어렵거나, 사업주 정보 및 영업정보(업종, 메뉴, 주문 가능 지역 및 시간, 원산지 정보 등) 등 필수 정보가 변경되었을 경우
        즉시
        "회사"에 통보 또는 직접 수정하여야 합니다.<br> 또한 "사장님"은 "요기요 서비스"를 이용함에 있어 요청한 정보가 요기요 플랫폼에 정상 등록되어 있는지에 대한 확인을 직접 해야
        합니다.<br><br>
        ⑤본조 제4항에 내용에 대해 관련 정보가 변경되었음에도 해당 사항에 대하여 "회사"에 통보하지 않음으로 인하여 발생한 손해 또는 법령상의 위반에 대해서는 "사장님"에게 책임이 있습니다.<br> 또한,
        "회사"의 귀책
        없이 사업주의 정보 및 영업정보(업종, 메뉴, 주문 가능 지역 및 시간, 원산지 정보 등) 등 필수정보가 상이하게 등록된 경우, "사장님"은 "회사"에 수정 요청을 할 수 있으며, 해당 요청을 하지
        않음으로
        인하여 발생하는 문제에 대하여는 "사장님"이 본인의 책임과 부담으로 해결하여야 합니다.<br><br>
        ⑥"사장님"은 "현장결제" 대금 및 기타 관련 서비스 이용료에 대해서는 본 약관 및 "요기요 서비스 등록 신청서"에 따라 "회사"에 정산 및 지불합니다.<br><br>
        ⑦"사장님"은 "회사"의 요기요 서비스를 이용하여 "사장님"의 상품을 구매하고자 하는 "고객"의 주문을 특별한 사유 없이 거절하여서는 안 됩니다.<br><br>
        ⑧"사장님"은 계약 이후 "사장님"의 상품 및 서비스 품질에 대한 책임을 부담하며, 동 책임과 관련하여 "고객" 및 기타 제3자가 "회사"에 법률상 또는 사실상의 청구를 하는 경우 "사장님"은 자신의
        비용으로
        "회사"를 면책시켜야 할 뿐만 아니라 그 과정에서 "회사"에게 부담되는 손해액에 대하여는 배상의 책임을 갖게 됩니다.<br><br>
        ⑨"사장님"은 "요기요 서비스"를 통해 수집된 "고객"의 정보(주소, 전화번호, 결제내역 등) 또는 자료를 제3자에게 제공하거나 "고객"의 동의 없이 마케팅의 목적으로 활용할 수 없습니다.<br> 본
        항을
        위반하여
        발생하는 "고객"과 "사장님" 간 분쟁에 대하여 "사장님"은 원만하게 해결되도록 최선을 다하여야 하며, 분쟁이 원만히 해결되지 않음으로 인하여 "고객"에게 손해가 발생하는 경우, "사장님"은 해당
        손해를
        배상하여야 합니다.<br><br>
        ⑩"사장님"은 테이크아웃을 통해 주문이 접수된 경우 "고객"이 요청한 시간에 맞게 음식/음료가 제공될 수 있도록 해야 합니다.<br><br>
        ⑪"사장님"은 배달업무를 목적으로 배달 전문 업체 (배달대행 등)에 "고객"의 정보를 전달할 때에는 최소한의 주문 관련 정보만을 전달해야 합니다.<br> 목적 달성이 완료된 경우 지체 없이 "고객"의
        개인정보를
        안전하게 파기해야 하며, 배달 전문 업체 (배달대행 등)에서 "고객"의 정보가 안전하게 관리되는지에 대한 관리감독을 진행해야 합니다.<br><br>
        ⑫"사장님"은 본 약관의 조항 및 조건, 그리고 그와 관련하여 취득한 "회사"의 각종 정보, 기술을 "회사"의 동의 없이 이용 및 누설하지 말아야 하며, 본 조항의 의무는 본 약관에 의한 거래가 종결된
        후에도
        5년간 그 효력이 유지됩니다.<br> 또한 본 조항의 의무를 위반하여 "회사"에 손해가 발생한 경우 "사장님"은 "회사"에 손해를 배상하여야 합니다.<br><br>
        ⑬"사장님"은 "요기요 서비스" 이용을 통해 발생된 거래에 대하여 "고객"이 이의신청 및 민원을 제기하는 경우 제반 문제에 대한 책임을 성실히 이행해야 합니다.<br><br>
        ⑭"사장님"은 "요기요 서비스"을 이용함에 있어 자체 허위주문, 이를 통한 부당 이익의 편취 등 신의성실에 위배되는 일체의 행위를 하여서는 안됩니다.<br> 본 조항의 의무를 위반하여 발생하는 일련의
        문제는
        "사장님"이 책임을 갖게 됩니다.<br><br>
        제6조 (정보의 수집 및 제공)<br><br>
        ①"사장님"은 최초 요기요 서비스 등록 신청 시 "요기요 서비스"를 이용하기 위해 필요한 사업주정보, 영업정보(업종, 메뉴, 주문 가능 지역 및 시간, 원산지 정보 등) 등의 필수 정보를 반드시
        "회사"에
        제공하여야 하며, 제공을 거부하시는 경우 "요기요 서비스" 이용이 불가합니다.<br><br>
        ②"사장님"은 전항의 사업주 정보 및 영업정보 등 필수 정보가 변경되었을 경우 반드시 "회사"에 이를 통보 또는 직접 수정하여 "요기요 서비스" 제공에 문제가 없도록 하여야 합니다.<br><br>
        ③"사장님"은 "회사"로부터 제공받은 "고객"의 정보를 업무수행 목적으로 제공 및 활용함에 있어 "정보통신망 이용촉진 및 정보보호 등에 관한 법률" 및 "개인정보 보호법" 등 관련 법규 및 감독기관
        지침이
        정하는 바를 철저히 준수하여야 하며, "사장님"의 대리인 또는 고용인에 대하여도 이를 준수하도록 해야 합니다.<br><br>
        ④"사장님"은 "회사"가 "사장님"에게 제공하는 "고객"의 정보를 제공 목적 외에 다른 용도로 사용할 수 없으며, 제3자에게 임의로 제공하거나 저장, 출력, 복사, 가공하거나 누설하여서는
        안됩니다.<br>
        또한 본
        약관이 종료, 해지 또는 해제되는 경우, "사장님"은 "회사"로부터 제공받은 일체의 "고객"의 정보를 "회사"에 반환하거나 "회사"가 허락하는 방식으로 폐기하여야 합니다.<br><br>
        ⑤원산지 정보는 법률상 반드시 입력하셔야 하는 필수 정보이며, "사장님"은 해당 원산지 정보를 관련 법령에 맞추어 정확하게 하여야 합니다.<br> 또한, "사장님"의 귀책으로 원산지 정보의 누락, 오
        표시,
        허위등록
        등의 문제가 발생하는 경우 "사장님"이 직접 책임을 져야 합니다.<br><br>
        ⑥"사장님"은 "사장님 사이트"를 통해 전항의 원산지 정보를 자유롭게 입력 및 수정할 수 있습니다.<br><br>
        ⑦"사장님"은 음식과 함께 판매 또는 배달하는 경우에 한하여 주류를 판매할 수 있으며, 주류 배달(테이크 아웃 포함) 시 고객(구매자)의 성인 여부를 반드시 확인하여야 합니다.<br> 만약 주류
        구매자가
        청소년일
        경우 가져가신 주류는 반드시 반환처리 되어야 하며, 청소년에게 주류를 배달 판매하는 경우 청소년 보호법에 의거 영업정지, 벌금부과 등의 형사처벌을 받을 수 있습니다.<br><br>
        ⑧"회사"는 "사장님"의 음식점 전화번호를 "고객"에게 제공하기 위해 콜 링크(050X) 서비스로 변환하여 제공하며, 통신 요금은 "고객"이 부담합니다.<br><br>
        제7조 (지적재산권)<br><br>
        ①"사장님"은 "회사"에게 "요기요" 서비스의 이용을 위하여 사용이 필요한 "사장님" 소유의 음식물 등 관련 이미지 및 상표에 대한 사용권을 본 계약 기간 동안 부여하며, "회사"는 제공해주신 상표 및
        이미지를 "요기요 서비스" 범위(계열사 플랫폼 및 제휴/협력 관계의 오픈마켓 등 포함)내에서 사용합니다.<br> 또한, 향후 기술적 환경이나 "회사"의 사업 정책에 따라 해당 사용 범위는 확대 또는
        축소될 수
        있으며, "사장님"은 해당 변경되는 범위 내에서도 별도로 거절의 의사표시를 하지 않는 한 사용권을 부여하는 것으로 합니다.<br><br>
        ②"사장님"은 해당 이미지 및 상표를 컴퓨터 그림 파일, 문서 등 양 당사자가 협의한 방법으로 안전하게 "회사"에 제공하여야 합니다.<br> "회사"는 수령한 이미지 및 상표를 "요기요 서비스"를
        사용하는 데
        필요한
        최소 범위 내에서 최적화된 형태로 가공(편집, 절단, 색상 보정 등)할 수 있습니다.<br><br>
        ③"사장님"은 제공한 사진, 이미지 및 상표에 대한 저작권 기타 일체의 지적재산권을 보유하고 있음을 보증하며, 만약 "회사"가 제3자에 의해 해당 사진, 이미지 및 상표와 관련하여 이의제기나 소송을
        당하는
        경우, "사장님"은 즉시 "회사"를 면책시키고 본인의 책임과 비용으로 해당 분쟁을 해결해야 합니다. 또한, 이로 인하여 "회사"에 손해가 발생하는 경우 해당 손해에 대하여 "사장님"에게 배상 책임이
        있습니다.<br><br>
        제8조 (리뷰정보 및 게시물 관리)<br><br>
        ①"고객"이 작성한 리뷰 및 게시물의 저작권은 "고객"이 가지고 있으며, "회사"는 해당 리뷰 및 게시물에 대한 관리 및 홍보하는 권한을 가지고 있습니다.<br> "사장님"은 "사장님"이 작성한 리뷰
        댓글 및
        게시물에 대한 저작권을 가지고 있으며, "회사"는 "사장님"의 리뷰 및 게시물에 대한 관리 및 홍보하는 권한을 가지고 있습니다.<br> 따라서 "고객"이 작성한 리뷰 및 게시물에 대한 관리 및 홍보에
        대한
        권한은
        "회사"가 가지고 있으며 "사장님"은 "고객"의 리뷰 및 게시물에 대한 양도 및 대여 등의 행위를 일체 할 수 없습니다.<br><br>
        ②"회사"는 "사장님"이 작성하는 리뷰 댓글 및 기타 게시물을 소중하게 생각하며 변조, 훼손, 삭제되지 않도록 최선을 다하여 보호합니다.<br> 다만 다음의 각 호의 어느 하나에 해당하는 경우
        "사장님"에게
        공개적
        또는 개별적 경고 후 삭제될 수 있습니다.<br> <br>단, 상기 경고는 "회사"의 판단에 따라 생략할 수 있습니다.<br>
        1. 스팸성 내용 또는 욕설이 포함된 경우<br><br>
        2. 정확한 근거 없이 타 음식점 혹은 이용고객을 비방하고자 하는 악의적인 목적으로 작성된 경우<br><br>
        3. 고객을 사칭하거나, 고객 또는 제 3자에 대한 비방 또는 명예를 훼손하는 내용인 경우<br><br>
        4. 다른 주문 고객 리뷰에 잘못 댓글을 작성한 경우<br><br>
        5. "회사"의 법적, 사회적 명예나 평판을 훼손하는 내용이거나 서비스에 악영향을 미치는 내용이 포함되어 있는 경우<br><br>
        6. 댓글 및 게시물에 "회사" 또는 제 3자의 상표권 또는 저작권 등 지적재산권을 침해하는 경우<br><br>
        7. "회사"의 내부방침 및 본항 5호에 명시된 것과 같이 적합하지 않은 단어 및 문구 등을 사용하는 경우<br><br>
        ③"사장님"이 작성하는 리뷰 댓글 및 기타 게시물은 "회사"가 홍보나 마케팅 등의 목적을 위하여 별도의 대가지급 없이 이용할 수 있으며, 해당 노출을 위해 필요한 범위 내에서는 일부 수정, 복제,
        편집되어
        게시할 수 있습니다.<br> 이 경우, "회사"는 저작권법 규정을 준수하며, "사장님"은 언제든지 "회사"에 해당 리뷰 댓글 또는 게시물에 대해 삭제, 비공개 등의 조치를 요청할 수
        있습니다.<br><br>
        ④"사장님"은 타인의 저작권 등 권리를 침해하지 않도록 주의하여야 하고, 작성된 내용과 관련하여 제 3자가 자신의 권리를 침해한다며 분쟁을 제기하는 경우 "사장님"은 본인의 책임과 비용으로 해당 분쟁을
        해결하며 "회사"를 면책하여야 합니다.<br><br>
        제9조 (대금 정산 및 환불)<br><br>
        ①"사장님"은 "현장결제" 대금에 대해서는 본조 제4항의 정산주기에 따라 "서비스 이용 수수료"를 "회사"에게 지급합니다.<br><br>
        ②"회사"는 "요기서 결제" 대금에 대해서는 본조 제4항의 정산주기에 따라 "외부결제 수수료" 및 "서비스 이용 수수료"를 공제한 후 "사장님"에게 지급합니다.<br><br>
        ③"회사"는 "요기서 결제"로부터 발생하는 "외부결제 수수료" 및 "서비스 이용 수수료"를 제외한 매출액을 "사장님"에게 정산 지급 시 "현장결제"로부터 발생하는 "서비스 이용 수수료"를 합산한 금액이
        더 큰
        경우, 기존에 발생한 또는 향후에 발생할 "요기서 결제" 대금을 정산함에 있어 상계 처리할 수 있습니다.<br><br>
        ④"서비스 이용 수수료"의 정산은 매월 2회 진행되며, 1기는 매월 1일~15일을 기준으로 하고, 2기는 매월 16일~말일을 기준으로 합니다. 1기 및 2기의 매출은 해당 정산주기의 마지막 날로부터
        5영업일이
        되는 날까지 정산하는 것을 원칙으로 하며 정산주기 도중에 매출의 수정이 발생하는 경우, 해당 수정분은 다음번 정산주기에 반영되며 별도의 내역은 제공하지 않습니다.<br><br>
        ⑤본조 제3항에 따른 상계처리 후 "회사"가 "사장님"에게 지급하여야 할 "서비스 이용 수수료"가 더 큰 경우, "회사"는 전항의 각 정산주기 종료일로부터 5영업일 되는 날에 해당 차액에 해당하는
        지급액을
        "사장님"에게 지급하며 이를 환급이라 합니다.<br> 반대로 "사장님"이 상계처리 후 "회사"에게 지급하여야 할 "현장결제" 대금이 더 큰 경우, "회사"는 전항의 각 정산주기 종료일로부터 6영업일이
        되는 날
        "회사"가 발행하는 청구서에 명시된 음수(-)의 "입금 받으실 금액"을 납부기한까지 "회사"에 지급해야 하며 이를 납부라 합니다.<br><br>
        ⑥"사장님"이 은행 계좌를 포함하여 정산대금 수령 목적의 수단을 변경하고자 할 때는 유선인 경우 환급일 기준 7영업일 전, 서면인 경우 10영업일 전에 "회사"에 통지해야 하며 불확실한 통지 및
        미통지로 인한
        손해에 대하여 "회사"는 책임지지 않습니다.<br><br>
        ⑦"사장님"이 "요기요 서비스"를 이용하여 발생한 정산대금을 제3자에게 양도하고자 하는 경우에는 "회사"와 사전 협의를 통해 동의를 받아야 하며 동의 없는 채권양도 행위는 무효처리
        됩니다.<br><br>
        ⑧"회사" 또는 "사장님" 일방의 귀책사유로 인하여 상대방이 불가피하게 "고객"에게 환불을 결정한 경우 환불비용은 귀책이 있는 당사자가 전액 부담합니다.<br> 만약 당사자 일방의 귀책 여부 확인이
        어려운
        환불에
        대해서는 "회사"의 환불 정책에 따라 환불을 진행합니다.<br><br>
        ⑨"회사" 또는 "사장님" 중 일방의 귀책이 명확하지 않은 경우, 우선 "회사"가 "고객"에게 환불을 진행하고 "사장님"과 "회사"의 협의를 통하여 각 당사자의 귀책 부분을 정하며 해당 협의 후
        "사장님"은
        협의 확정 날짜 기준으로 "사장님"의 귀책 부분에 해당하는 환불 금액을 "회사"에 3영업일 이내에 지급하기로 합니다."의 귀책 부분에 해당하는 환불 금액을 "회사"에 3영업일 이내에 지급하기로
        합니다.<br><br>
        제10조 (회사의 책임 제한)<br><br>
        ①"회사"는 천재지변 또는 이에 준하는 불가항력으로 인하여 "요기요 서비스"를 제공할 수 없는 경우에는 서비스 제공에 대한 책임을 지지 않습니다.<br><br>
        ②"회사"는 "요기요 서비스"와 관련하여 "사장님"의 귀책사유로 인하여 발생하는 일련의 문제에 대하여는 책임을 지지 않습니다.<br><br>
        ③"회사"는 "사장님"이 제공한 정보 및 자료의 문제로 인하여 "고객" 및 제3자에게 손해가 발생한 경우 책임을 지지 않습니다.<br><br>
        ④"회사"는 "요기요 서비스"의 상업성 또는 매출 기여성에 대하여 보증하지 않으며, "요기요 서비스"와 무관하게 발생한 "사장님"과 "고객" 또는 "사장님"과 제3자 간의 거래에 대하여 책임을 지지
        않습니다.<br><br>
        제11조 (서비스 이용 제한)<br><br>
        ①"회사"는 "사장님"이 다음 중 하나에 해당하는 경우 각각의 사유에 따라 일정 기간을 정하여 서비스 이용을 제한할 수 있습니다.<br> "사장님"은 서비스 이용 제한 사유가 해소된 이후 "요기요
        서비스"
        이용을
        재개할 수 있습니다.<br>
        1. "서비스 이용 수수료" 납기일로부터 30일 영업일 이상 이용요금을 체납한 경우<br><br>
        2. "사장님"이 사장님 사이트 또는 고객센터를 통해 휴무일, 영업시간 조정, 배달 불가, 재료 소진, 기상 악화 등의 사유로 "요기요 서비스" 일시적인 중단을 요청한 경우<br><br>
        3. 제5조 제5항을 수행하지 않아 "사장님"의 과실로 판단되는 주문 실패 사례가 발생한 경우<br><br>
        4. 제5조 제7항을 위반한 경우<br><br>
        5. "사장님"의 주문 전달 수단인 단말기의 전원이 5분 이상 꺼져있어 정상적인 주문 접수가 불가한 경우<br><br>
        6. 영업시간 내 주문이 발생하여 주문을 전달하는 과정에서 접수된 주문이 Timeout 처리되어 음성 주문전달을 통해 3회 이상 통화시도를 했음에도 전화 연결에 실패한 경우<br><br>
        7. 제6조와 관련하여 요기요 서비스 이용에 필요한 필수 정보(사업주 정보 및 원산지정보를 포함한 영업정보 등)의 누락 또는 법률상 위배되는 행위를 하였을 경우<br><br>
        ②"사장님"은 전항의 사유로 인한 서비스 중지 기간에 대하여 "서비스 이용 수수료" 중 정액제 패키지 및 단말기 관련 비용은 정상적으로 납부해야 합니다.<br><br>
        ③"회사"는 시스템 개선공사, 장비 증설, 정기점검 등 서비스를 제공할 수 없는 불가피한 사유가 있어 "요기요 서비스"의 이용을 중지하고자 하는 경우에는 그 사유 및 중지 기간 등을 명시하여 요기요
        플랫폼
        또는 사장님 사이트 등에 사전 공지하거나<br> "사장님" 및 "고객" 또는 그 대리인에게 통보합니다<br>. 단, "회사"가 긴급하게 이용을 중지할 필요가 있다고 인정하는 경우나, "사장님"의
        귀책사유로
        인하여
        통보할 수
        없는 경우는 예외로 통보하지 않을 수 있습니다.<br><br>
        제12조 (계약의 변경 및 해지)<br><br>
        ①"사장님"과 "회사"는 스스로의 판단에 따라 약관 변경 또는 해지를 원할 경우에 서면 또는 유선을 통하여 계약의 변경 또는 해지를 할 수 있습니다.<br> 단, 계약 해지 효력은 "사장님"과
        "회사"가 서로
        계약
        해지 사실을 인지하고 "사장님"의 음식점 정보가 "요기요 서비스" 및 "요기요 서비스" 관련 매체에서 노출이 중단되는 시점에 발생합니다.<br><br>
        ②"회사"는 본 약관의 해지가 결정된 날로부터 영업일 기준 5일 이내에 "요기요 서비스" 및 "요기요 서비스" 관련 매체에서 "사장님" 음식점의 정보 노출을 중단해야 하며, 계약 해지 효력이 발생하기
        전까지
        "요기요 서비스"를 통해 발생한 "사장님"의 거래에는 본 약관의 조건이 그대로 유효하게 적용되는 것으로 합니다.<br><br>
        ③각 당사자는 다음의 경우 본 약관을 일방적으로 즉시 해지할 수 있으며, 해당 사유로 인하여 당사자 일방에게 손해 발생 시 해당 당사자는 손해배상을 청구할 수 있습니다.<br><br>
        1. 당사자 일방이 본 약관 제4조, 제5조, 제10조에서 정한 사항을 위반하고 상대방이 일정한 기간을 두고 이를 시정할 것을 요청하였음에도 불구하고 해당 당사자가 이를 시정하지 않는
        경우<br><br>
        2. 당사자 일방의 귀책사유로 인하여 "고객"의 개인정보가 유출된 경우<br><br>
        3. "사장님"이 "고객"에게 어떠한 이유로든 언어적 또는 육체적 방법을 통하여 위해 또는 협박을 가하는 경우. 단, "고객"이 "사장님"에게 불법적인 행위를 하여 이에 대한 "사장님"이 대응하는
        경우는
        제외<br><br>
        4. 기타 당사자 일방의 불성실한 업무수행 및 일방의 중대한 과실로 인하여 쌍방 간에 본 약관을 유지할 수 없을 정도로 신뢰가 손상되는 경우<br><br>
        5. 기타 본 약관을 이행하기 어려운 중대한 사유가 발생한 경우<br><br>
        제13조 (개인정보 활용)<br><br>
        ①"회사"는 "사장님"의 개인정보를 본 약관이 유지되는 기간 동안에만 제한적으로 이용합니다.<br><br>
        ②"회사"는 "사장님"의 정보를 본 약관의 목적을 위하여 또는 "사장님"에게 서비스 품질향상, 홍보 혜택 및 마케팅 제공을 위하여 사장님께 사전 안내 후 "회사"의 계열사 플랫폼 및 제휴/협력 관계의
        오픈마켓
        등에 해당 정보를 제공할 수 있습니다.<br><br>
        ③"회사"는 "요기요 서비스" 이용에 관한 다양한 정보를 전화/전자우편/서신 우편/문자서비스/앱 푸쉬/카카오 비즈메세지 등의 다양한 방법으로 "사장님"께 제공할 수 있으며 "사장님"은 해당 정보의
        수신을
        거부하실 수 있습니다.<br><br>
        ④"사장님"이 전항과 같이 수신을 거부하는 경우라 하더라도 "회사"는 서비스 이용에 필수적으로 요구되는 정보는 전항의 방법으로 정보를 제공하거나 사장님 사이트에 게시할 수 있습니다.<br> 단,
        "사장님"이
        수신을
        거부하고 사장님 사이트에 공시된 정보의 제공을 확인하지 아니하는 등 정보확인의 노력을 하지 않음으로 인하여 손해가 발생하는 경우, "회사"는 해당 손해에 대한 배상 책임을 부담하지
        않습니다.<br><br>
        제14조 (준거법 및 관할법원)<br><br>
        본 약관의 준거법은 대한민국 법으로 하고, 본 약관에서 정하지 아니한 사항이나 해석상에 상호 이견이 있을 경우, 관계 법령 및 일반적 관례에 따라 상호 협의하여 원활히 해결함을 원칙으로 합니다. 만약
        양
        당사자 간 분쟁이 발생하는 경우에는 서울중앙지방법원을 제1심 관할로 하여 해결하기로 합니다.<br><br>
        제15조 (단말기)<br><br>
        ①"회사"의 단말기 이용료는 "회사"의 "서비스 이용 수수료"에 포함하여 정산되며, "서비스 이용 수수료"의 정산 방식이 변경되는 경우, 단말기 이용료의 정산 방식도 동일하게 변경됩니다.<br><br>
        ②"사장님"은 단말기를 이용하는 동안 안전하게 관리하여야 할 의무가 있으며, 부주의 또는 고의로 해당 단말기를 훼손, 멸실, 분실하는 경우, "회사"가 "사장님"에게 해당 단말기의 수리 또는 교체
        비용을
        청구할 수 있습니다.<br> 또한 "사장님"은 "회사"의 동의 없이 임의로 제3자에게 해당 단말기를 재대여하거나 불법의 목적으로 사용할 수 없습니다.<br><br>
        ③본 약관이 해지되거나 "사장님"이 영업을 정지한 경우, 또는 단말기만을 단독 해지 원하는 경우에는 해당 일자로부터 14일 이내에 "사장님"은 이용 중인 단말기를 "회사"에게 반납하여야 합니다.<br>
        반납
        시
        발생하는 배송비는 "회사"가 부담하며, 만약 단말기 반납이 본 항에 규정한 바에 따라 이루어지지 않는 경우, "회사"에 단말기 대금인 20만원을 "사장님"에게 청구할 수 있으며 "사장님"은 청구일로부터
        3영업일 내에 단말기 대금을 지급하여야 합니다.<br><br>
        ④단말기에 사용되는 감열지(용지)는 사장님 사이트 내 알뜰쇼핑몰 또는 한솔포스를 통해 별도 구매하여야 합니다.<br><br>
        제16조 (우리가게 비즈센터)<br><br>
        ①우리 동네 플러스는 "사장님"의 음식점 영업 활성화 및 광고 효율성을 도모하기 위한 목적으로 "회사"와 정식 계약을 맺은 "사장님"을 대상으로 제공하는 서비스이며, 본 조항은 요기요 우리 동네 플러스
        및
        우리 가게 비즈센터를 이용하는 "사장님"에게 적용되는 조항입니다.<br><br>
        ②비즈센터 이용 및 환불에 대한 구체적인 사항은 우리 가게 비즈센터 약관에 따르되, 우리 가게 비즈센터 약관에 명시하지 않은 내용은 본 약관을 따릅니다. 단, 본 약관과 우리 가게 비즈센터 약관의
        내용이
        상충하는 경우에는 우리 가게 비즈센터 약관이 우선적인 효력을 갖습니다.<br><br>
        ③"사장님"은 "회사"가 정한 절차에 따라 우리 가게 비즈센터 광고 서비스를 신청 및 이용할 수 있으며, 이용함에 있어 "회사"의 업무에 방해가 되는 행위를 하지 말아야 합니다.
        ④"회사"는 우리 가게 비즈센터 광고 서비스의 제공 및 노출, 운영방식 등에 대한 결정 및 변경 권한을 가집니다.<br><br>
        ⑤"사장님"은 광고 서비스 이용 요금을 비즈머니로 납부해야 하며, 해당 납부는 "회사"가 "사장님"의 비즈머니에서 광고 서비스 이용요금을 차감하는 방식으로 진행합니다.
        ⑥"회사"는 우리 가게 비즈센터 광고 서비스의 상업성 또는 매출 기여성에 대한 보증을 하지 않습니다.
    </p>
    <footer>
        <p>TOGETEAT</p>
        <nav>
            <a href="/이용약관">이용약관</a>
            <a href="#">개인정보방침</a>
            <a href="/소개">소개</a>
            <a href="#">음식점소개</a>
            <a href="#">공지사항</a>
        </nav>
        <p></p>
    </footer>
</body>

</html>