<!DOCTYPE html>
<html>

<head>
    <title>관리자 로그인</title>
    <link rel="stylesheet" type="text/css" href="/adminlogin.css">
</head>

<body>
    <div class="form-container">
        <h1>관리자 로그인</h1>
        <form id="admin-login-form" action="" method="post"> <!-- 액션수정 -->
            <label for="username">ID:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">비밀번호:</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="로그인">
        </form>
    </div>
    
    <footer>
        <p>TOGETEAT</p>
        <nav>
            <a href="/이용약관">이용약관</a>
            <a href="#">개인정보방침</a>
            <a href="/소개">소개</a>
            <a href="#">음식점소개</a>
            <a href="#">공지사항</a>
        </nav>
        <p></p>
    </footer>
</body>

</html>