<!DOCTYPE html>
<html>

<head>
    <title>검은색 배경</title>
    <link rel="stylesheet" type="text/css" href="css/소개.css">
</head>

<body>
    <div class="scene">
        <div class="top-section"></div>
        <div class="bottom-section"></div>
        <div class="wire"></div>
        <div class="text-container">
            <p class="text">
                졸업 작품 1조 - 김동, 주정현, 서동찬, 박모빈
            </p>
            <p class="moving-text">
                한국폴리텍대학 AI융합소프트웨어 2-A
            </p>
        </div>
    </div>

    <script>
        // 상단 배경색 변경 함수
        function changeTopBackgroundColor() {
            const colors = ['#000000']; // 검은색으로 고정
            const randomColor = colors[Math.floor(Math.random() * colors.length)];
            document.querySelector('.top-section').style.backgroundColor = randomColor;
        }

        // 하단 배경색 변경 함수
        function changeBottomBackgroundColor() {
            const colors = ['#000000']; // 검은색으로 고정
            const randomColor = colors[Math.floor(Math.random() * colors.length)];
            document.querySelector('.bottom-section').style.backgroundColor = randomColor;
        }

        // 일정 간격으로 상단, 하단 배경색 변경
        setInterval(changeTopBackgroundColor, 4000); // 4초마다 상단 배경색 변경
        setInterval(changeBottomBackgroundColor, 4000); // 4초마다 하단 배경색 변경
    </script>
</body>

</html>