<!DOCTYPE html>
<html lang="ko">

<head>
    <title>회원 가입 페이지</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="/signup.css">
</head>

<body>
    <h1>회원 가입 페이지</h1>

    <div class="button-container">
        <!-- 유저 회원가입 버튼을 UserSignup.html로 연결 -->
        <a href="/UserSingup"><button>유저 회원가입</button></a>
        <!-- 가맹점 가입 버튼을 OperatorsSignup.html로 연결 -->
        <a href="/OperatorsSignup"><button>가맹점 회원가입</button></a>
    </div>

    <script>
    // 유저 회원가입 버튼 클릭 시 처리 로직
    document.querySelector("a[href='UserSignup.ejs'] button").addEventListener("click", function(event) {
        // 유저 회원가입 페이지로 이동
        window.location.href = '/UserSignup';
    });

    // 가맹점 가입 버튼 클릭 시 처리 로직
    document.querySelector("a[href='OperatorsSignup.ejs'] button").addEventListener("click", function(event) {
        // 가맹점 회원가입 페이지로 이동
        window.location.href = '/OperatorsSignup';
    });
    </script>
</body>

</html>
